.register__component {
    width: 400px;
    min-width: 200px;

    border-radius: 1rem;
    background-color: var(--white-color);
    box-shadow: var(--shadow);

    z-index: 500;

    padding: 2rem;
}

.register__image {
    width: 70%;
    margin: 0 auto;
}

.register__title {
    margin-top: 2rem;
}

.register__sign-in-button {
    margin-left: .5rem;
    color: var(--fourth-color);
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .register__component {
        width: 300px;
    }
}


.register__file {
    cursor: pointer;
}

.register__file input::-webkit-file-upload-button {
    visibility: hidden;
}

.register__file input {
    margin-bottom: 0;
}

